@if (isInitialized && component) {
  <oe-modal [title]="component.alias" [component]="component">
    <oe-modal-line [name]="'GENERAL.STATE' | translate"
      [value]="convertImportState(values.importState)"></oe-modal-line>
    <oe-modal-line [name]="'EDGE.INDEX.WIDGETS.GREEN_BUTTON.LAST_IMPORT' | translate"
      [value]="GreenButtonUtils.formatEpochSeconds(values.lastImport)"></oe-modal-line>
    <oe-modal-line [name]="'EDGE.INDEX.WIDGETS.GREEN_BUTTON.IMPORTED_READINGS' | translate"
      [value]="values.importedReadings ?? '-'"></oe-modal-line>
    <oe-modal-line [name]="'EDGE.INDEX.WIDGETS.GREEN_BUTTON.FIRST_READING' | translate"
      [value]="GreenButtonUtils.formatEpochSeconds(values.firstReading)"></oe-modal-line>
    <oe-modal-line [name]="'EDGE.INDEX.WIDGETS.GREEN_BUTTON.LAST_READING' | translate"
      [value]="GreenButtonUtils.formatEpochSeconds(values.lastReading)"></oe-modal-line>
    @if (values.lastError) {
      <oe-modal-horizontal-line></oe-modal-horizontal-line>
      <oe-modal-info-line [info]="values.lastError"></oe-modal-info-line>
    }
    <oe-modal-horizontal-line></oe-modal-horizontal-line>
    <ion-item lines="none">
      <ion-button expand="block" fill="outline" class="green-button-history-link" style="width: 100%"
        [disabled]="!hasImportedRange" (click)="openConsumptionHistory()">
        <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
        {{ 'EDGE.INDEX.WIDGETS.GREEN_BUTTON.OPEN_CONSUMPTION_HISTORY' | translate }}
      </ion-button>
    </ion-item>
  </oe-modal>
}
