id="predictor0"
alias="Persistence-Model Predictor"
enabled=B"true"
channelAddresses=["_sum/ProductionActivePower","_sum/UnmanagedConsumptionActivePower","_sum/ConsumptionActivePower"]
logVerbosity="NONE"
service.factoryPid="Predictor.PersistenceModel"
service.pid="Predictor.PersistenceModel.predictor0"
