id="ctrlOpenAdr0"
alias="OpenADR VEN"
enabled=B"true"
vtnUrl="http://localhost:8082/OpenADR2/Simple/2.0b"
venName="openems-sim"
venId=""
registrationId=""
pollIntervalSeconds=I"10"
tls="TRUST_ALL"
trustStorePath=""
trustStorePassword=""
clientCertPath=""
clientKeyPassword=""
marketContext=""
autoOptIn=B"true"
ess.id="ess0"
evcs.ids=["evcs0"]
evse.ids=[]
heatPump.ids=[]
curtailmentEssDischargeLimitW=I"0"
curtailmentEvcsChargeLimitW=I"1400"
priceSignalThresholdPerMwh=D"150.0"
reportIntervalSeconds=I"60"
